<div class="text-center">
  <div class="container">
    <span class="blog-title"><h2>{{blog.title}}</h2></span>
    <p>{{blog.contents}}</p>
    <p>Created by {{user.name}} on {{format_date blog.date_created}}</p>
  </div> 
</div>