
<div class="header-title">Your Dashboard</div> 
<section class="blog-container">
      <!-- Loop over each object in the blog array and display blog details -->
      {{#each blogs as |blog| }}
      <div class="blog-post">
        <div class="blog-header flex-row flex-no-wrap align-content-stretch justify-space-between">
              <p class="display-flex blog-title">
                  <a href="/updatedelete/{{blog.id}}">{{blog.title}}</a>
              </p>
              <p class="display-flex">Posted {{blog.user.name}} on {{format_date blog.date_created}}</p>    
        </div>
        
      </div>
        
      {{/each}}
      <div class="text-center">
              <button id="new-post" class="btn btn-standard">+ New Post</button>
      </div>
</section>
<script src="/js/blog.js"></script>
