<!--Login form-->
<section class="blog-container">
      <div class="row">
        <div class="container">
          <h2>Login</h2>

          <form class="form login-form">
            <div class="form-group">
              <label for="name-login">username:</label>
              <input class="form-input" type="text" id="name-login" />
            </div>
            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-standard" type="submit">Login</button>
              <button class="btn btn-standard" type="submit" id="sign-up">Sign up instead</button>
            </div>
          </form>
        </div>
        <div id="dialog" title="Validation" class="hidden">
          <p>Please enter the username and password.</p>
        </div>
  </section>
<script src="./js/login.js"></script>
