<!--update delete form-->
<div class="header-title">Your Dashboard</div> 

<section class="blog-container text-center">
    <div class="blog-post">
      <div class="blog-header flex-row flex-no-wrap align-content-stretch justify-space-between">
            <p class="display-flex blog-title">
                Edit Post
            </p>
      </div>  
      <div class="blog-contents">
          
        <div class="container">
          <form class="form">
            <div class="form-group">
              <input class="form-input" type="hidden" id="blog-id" value="{{blog.id}}" />
              <label for="blog-title">Title:</label>
              <input class="form-input" type="text" id="blog-title" value="{{blog.title}}" />
            </div>
            <div class="form-group">
              <label for="blog-contents">Contents:</label>
              <textarea class="form-input" type="text" id="blog-contents" value="{{blog.contents}}">{{blog.contents}}</textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-standard button-link" type="submit" id="update-blog">Update</button>
              <button class="btn btn-standard" type="submit" id="delete-blog">Delete</button>
            </div>
        </form>
      </div>
    </div>
</section>

<script src="/js/blogupdates.js"></script>
